/* tsumkey_l.overlay（左：Peripheral） */
#include "tsumkey.dtsi"

/* 左の物理スキャン */
&{/} {
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";
        row-gpios = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&xiao_d 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&xiao_d 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&xiao_d 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&xiao_d 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        col-gpios = <&xiao_d 1 GPIO_ACTIVE_HIGH>,
                    <&xiao_d 2 GPIO_ACTIVE_HIGH>,
                    <&xiao_d 3 GPIO_ACTIVE_HIGH>,
                    <&xiao_d 4 GPIO_ACTIVE_HIGH>,
                    <&xiao_d 5 GPIO_ACTIVE_HIGH>;
    };
};

&{/chosen} {
    zmk,kscan = &kscan0;                 /* 念のため明示 */
    zmk,matrix-transform = &default_transform; /* 共通 10×5 を採用 */
    /* zmk,input-transform は左では不要（書かない） */
};
