#include "tsumkey.dtsi"
// #include <input/processors.dtsi>   // ← 使わないので一時的に外してOK

/ {
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";
        row-gpios = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&xiao_d 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        col-gpios = <&xiao_d 6  GPIO_ACTIVE_HIGH>,
                    <&xiao_d 7  GPIO_ACTIVE_HIGH>,
                    <&xiao_d 8  GPIO_ACTIVE_HIGH>,
                    <&xiao_d 9  GPIO_ACTIVE_HIGH>,
                    <&xiao_d 10 GPIO_ACTIVE_HIGH>;
    };
};

/* 入力トランスフォームは一時無効化
&{/chosen} {
    zmk,input-transform = &tsumkey_itf;
};

 / {
    tsumkey_itf: input_transform {
        compatible = "zmk,input-transform";
    };
};
*/

/* 一時的に input-processors も無効化
&kscan0 {
    // input-processors = <&scale_right_local>;
};

scale_right_local: processor_scale_right_local {
    compatible = "zmk,input-processor-scaler";
    // type = "matrix";   // ★後で戻すときに指定
    cols = <5>;
    rows = <5>;
    col-offset = <5>;
    row-offset = <0>;
};

/* ← split のラベルが未確定なので、ここもコメントアウト
&zmk_split_bt_central {
    input-processors = <&scale_left_remote>;
};

scale_left_remote: processor_scale_left_remote {
    compatible = "zmk,input-processor-scaler";
    // type = "matrix";   // ★後で戻すときに指定
    cols = <5>;
    rows = <5>;
    col-offset = <0>;
    row-offset = <0>;
};
*/